*{
    padding: 0px;
    margin: 0px;

}
body{
    background-image: linear-gradient(125 deg,white,teal);
    background-size: 100% 600px;
    
}
fieldset{
    width: 400px;
    height: 250px;
    margin-top: 8%;
    margin-left: 30%;
    background-color: black;
    border: 10px groove white;
    background-image: url(../../asset/image/charminar.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius:10px;
    box-shadow: 5px 5px 5px black;
    transition-property:background-size,background-position ;
    transition-duration: 1s,1s;
    

}
legend{
    font-size: 30px;
    width: 30%;
    color: black;
    background-color: white;
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px red,-2px -2px 0px yellow;
    transition-property:box-shadow,letter-spacing,width;
    transition-duration: 1s,1s,0.5s;
    

}
fieldset:hover legend{
    text-align: center;
    box-shadow: 10px 10px 0px red,-10px -10px 0px yellow;
    letter-spacing: 5px;
    width: 50%;
}
h1{
    color: transparent;
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 10px;
    margin-top: 15px;
    margin-right: 5%;
    transition-property: color;
    transition-duration: 1.5s;


}
p{
    color: white;
    width: 50%;
    text-align: justify;
    text-indent: 20px;
    margin-left: 45%;
    filter: opacity(0);
    transition-property: filter;
    transition-duration: 1s;


}
fieldset:hover{
    background-size: 30%;
    background-position: 30px 50%;
}
fieldset:hover h1{
    color: lawngreen;
}
fieldset:hover p{
    filter: opacity(1);
}