*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(skyblue,green);
}
#container,#otpcontainer{
    background-color: greenyellow;
    width: 500px;
    height: 350px;
    position: absolute;
    left: 500px;
    top: 150px;
    border-radius: 10px;
    box-shadow: -10px -10px 5px black ,10px 10px 5px blue;
    
}
#inp{
    width: 80%;
    height: 5vh;
    border: none;
    box-shadow: 5px 5px 5px black;
    position: relative;
    left: 15%;
    top: 15%;
    background-color: transparent;
    text-align: center;
    letter-spacing: 10px;
    color: white;
    border-bottom: 5px solid red;
    outline: none;

}
#inp::placeholder{
    color: blue;
    font-size: 2vw;

}
#generateotp,#submitopt{
    width: 80%;
    height: 5vh;
    position: relative;
    left: 15%;
    top: 15%;
    box-shadow: 5px 5px 5px black;
    letter-spacing: 10px;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2vw;
    border: none;
    margin-top: 5%;


}
#submitopt{
    background-color: blue;
    color: yellow;
}
#otpcontainer{
    background-color: rgba(0, 0, 0,0.501);
    backdrop-filter: blur(10px);
    display: none;
}
