body{
    background-image: url(../../asset/image/3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-image:linear-gradient(gold,transparent,pink),url(../../asset/image/elephants-5752536_640.jpg),linear-gradient(135deg,skyblue 0% 10%,yellow 10% 20%,darkblue 20% 60%,indigo 60% 75%,green 70% 80%,orange 80% 90%,red 90% 100%); */
}
div{
    width: 500px;
    height: 300px;
    background-image: linear-gradient(transparent,black);
    position: relative;
    left: 450px;
    top: 150px;
    border:1px solid black;
    border-radius:5px;
}
h2{
    color: white;
    text-align: center;
}
.abc{
    background-color: white;
    width: 350px;
    height: 38px;
    position: relative;
    left: 100px;
    letter-spacing: 2px;
    font-size: 16px;
    
outline: none;
    border: none;
    
}
label{
    color: white;
}
.bcd{
    position: relative;
    left: 100px;
   
}
#ghi{
    background-color: violet;
}
#ghi:hover{
    background-color: yellow;
}
