*{
    padding: 0px;
    margin: 0px;
}
.child_image{
    width:150px;
}
#image_container{
    width:100%;
    height: 700px;
    background-color: violet;
}
@keyframes imageAnmination{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1234px);
    }
}
#image_container:hover>.child_image{
    animation-name:imageAnmination ;
    animation-duration: 5s;
}
#car{
    animation-timing-function: ease;

}
#bike{
    animation-timing-function: ease-in;
    animation-delay: 5s;
}
#bus{
    animation-timing-function: ease-in-out;
    animation-delay: 10s;
    
}
#train{
    animation-timing-function: ease-out;
    animation-delay: 15s;
    
}
#truck{
    animation-timing-function: ease-in;
    animation-delay: 20s;
}

