/* #px{
    width: 120px;
    height: 120px;
    background-color: red;
}
#pt{
    width: 120pt;
    height: 120pt;
    background-color: yellow;
}
#pc{
    width: 120pc;
    height: 120pc;
    background-color: blue;
}
#cm{
    width: 120cm;
    height: 120cm;
    background-color:green ;
}
#mm{
    width: 120mm;
    height: 120mm;
    background-color:gray ;
}
#in{
    width: 120in;
    height: 120in;
    background-color:black;
} */
 /* *{
    padding: 0px;
    margin: 0px;
 }
 #container1{
    width: 50vh;
    height: 12vw;
    background-color: red;
 }
 #subcontainer1{
    width:80vw;
    height: 100px;
    background-color: gray;
 }

 #container2{
    width: 50%;
    height: 200px;
    background-color: blue;
 }
 #subcontainer2{
    width:80%;
    height: 50%;
    background-color: yellow;
 } */
h1{
  /* font-size: 6vh; */
  /* font-size: 9em; */
  font-size: 6rem;
  font-size: 800%;

}

