#header,img{
    width:300px;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    transition: transform 0.5s;
}
#header:hover,img:hover{
    /* transform: rotate(45deg); */
    /* transform: rotateX(360deg); */
    /* transform: rotateZ(-360deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotate(-45deg) rotateX(-45deg) rotateY(360deg); */
    /* transform: scale(0); */
    transform: scaleX(2) scaleY(5);

}