*{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 300px;
    height: 200px;
    background-color: teal;
    margin-top: 10%;
    margin-left: 35%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
#imageinfo{
    width: 600px;
    height: 100%;
    background-color: red;
    transition: all 0.5s;
}
#container:hover #imageinfo{
    transform: translate(-300px);
}
#image{
    width: 50%;
    height: 100%;
    background-image: url(../../asset/image/shoe.png);
    background-size: 100% 100%;
    float: left;
    background-repeat: no-repeat;
    
}
#info{
    width: 50%;
    height: 100%;
    float: left;
}
h1{
    text-align: center;
    padding-top: 4%;
    letter-spacing: 0.2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  text-align: justify;
  padding: 10px;
  text-indent: 30px;  
}
input{
    width: 80%;
    height: 20%;
    background: transparent;
    border: 5px solid white;
    border-radius: 10px;
    background-color: royalblue;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
    margin-left: 10%;

}
input:hover{

    background-color: white;
    border-color: royalblue;
}
