*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    

}
body{
    background:#250057;
    
}
.container{
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    background:#fff;
   margin: 300px auto;
   padding: 10px 20px;
   display: flex;
   align-items: center;
}
.container input{
    width: 100%;
    padding: 10px 0;
    border: 0 ;
    outline: 0px;
    font-size: 24px;
    color: #555;
    
}
.container img{
    cursor: pointer;
    width: 35px;
    
}


