#container{
    width: 500px;
    height: 500px;
    background-color: red;
    /* border-radius: 800px/150px; */
    /* border-radius: 80px 180px /150px 50px; */
    /* fancy border radius github */
    border-radius: 80px 180px 200px 250px /150px 50px 25px 10px;
    box-shadow: -10px 10px 10px blue,10px 10px 0px gray,10px -10px 10px yellow, -10px -10px 10px green,inset 10px 10px 10px black,inset -10px -10px 10px blue ;
    

}
input{
    border: 2px solid black;
    outline: none;
    background-color: lightcyan;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray,inset -5px -5px 5px rgb(103, 214, 214);

}