*{
    padding: 0px;
    margin: 0px;
}
body{
    /* background-image: linear-gradient(green,gold);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-color: #e27695;
}
#container{
    background-color: black;
    width: 500px;
    height: 250px;
   margin-left: 35vw;
   margin-top: 30vh;
   border-radius: 10px;
}
.inp{
    /* margin: 16px;
    padding: 12px; */
    position: relative;
    left: 55px;
    top: 55px;
    width: 400px;
    height: 40px;
    letter-spacing: 3px;
    word-spacing: 3px;
    color: white;
    font-size: 19px;
    border-radius: 10px;
    /* outline: none; */
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
    
    /* margin: none; */
    /* text-shadow: 2px 2px 2px white; */
}
#submitotp{
    background-color: orange;
}
#generateotp{
    background-color: green;
}
input::placeholder{
    letter-spacing: 3px;
    word-spacing: 2px;
    font-size: 19px;
    color: white;
    text-align: center;
    
}
#otpcontainer{
    display: none;
    background-color: greenyellow;
}
#displayOTP{
    letter-spacing: 3px;
    color: blue;
    
}