body{
    width:80%;
    height:5000px;
    background-image:url(../../asset/image/pexels-francesco-ungaro-998641.jpg);
    background-size: 80% 5000px;
    background-attachment: scroll;
    /* fixed */

    
    }