#abc{
    background-color: black;
    /* padding: 10px; */
    display: grid;
    padding: 12px;
    column-gap: 2px;
    row-gap: 22px;
}
.bang{
    
    background-color: red;
    border: 2px solid black;
    text-align: center;
    padding: 32px;


}
#sdf{
    grid-column-start: 1;
    grid-column-end: 4;
}
#hjk{
    grid-row-start: 2;
    grid-row-end: 4;
}
#rty{
    grid-column-start: 2;
    grid-column-end: 4;
}