/* *{
    color:red;
    background-color: black;
}
h1{
    color:red;
}
p{
    color:brown;
}
span{
    color:green;
}
#priyanka
{
    color:skyblue;
}
#sravani
{
    color:silver;
    background-color:brown;
} */
 /* .priya-red
 {
    color:red;
    
 }
 .bgcolor-black
 {
    background-color: black;
 }
 .srav-green
 {
    color:green;
 } */
.co-royalblu
{
    color:royalblue;
}
.co-orangered
{
    color:orangered;
}
#orange
{
    color:orange;
}
.green
{
    color:green;
}
#red
{
    color:red;
}
div{
   
}