#container{
    width: 1000px;
    height: 500px;
    /* margin-left: 350px;
    margin-top: 150px; */
    background-color: skyblue;
}
.abc{
width:20% ;
height: 350px;
float: left;
/* border-radius: 100% 0px 100% 0px; */
}
#firstpetal{
    background-color: red;
    border-radius: 0px 100% 0px 100%;
    position: relative;
    left: 400px;
    z-index: -1;
    
    transition-duration: 1s;
   
}
#secondpetal{
    background-color: royalblue;
    border-radius: 100% 0px 100% 0px;
    z-index: 0;
    position: relative;
    transition-duration: 1s;
    left: 200px;
    
}
#thirdpetal{
    background-color: yellow;
    border-radius: 100% 0px 100% 0px;
    transition-duration: 1s;
    z-index: 1;
    
}
#fourthpetal{
    background-color: pink;
    border-radius: 100% 0px 100% 0px;
    position: relative;
    left: -200px;
    z-index: -1;
    transition-duration: 1s;
}
#middlepetal{
    background-color: green;
    border-radius: 100% 0px 100% 0px;
    position: relative;
    left: -400px;
    z-index: -2;
    transition-duration: 1s;
}
#lower{
    width: 120px;
    height: 120px;
    border-radius: 0px 0px 100% 100%;
    background-color: green;
    position: relative;
    left: 350px;
    top: 350px;

}
#container:hover #firstpetal{
    /* z-index: 1; */
    translate:(-88px,5px) rotate(-65deg);
}
#container:hover #secondpetal{
    /* z-index: -1; */
    translate:(-80px,5px) rotate(-65deg);
}
#container:hover #thirdpetal{
    
    /* z-index: 1; */
    transform:skewX(35deg);
}
#container:hover #fourthpetal{
    z-index: -1;
    transform:skew(35deg);
}
#container:hover #middlepetal{
    z-index: -2;
    transform: skew-(35deg);
}



