/* #solid{
    border-style: solid;
    border-color: green;
    border-width: 10px;
}
#dashed{
    border-style: dashed;
    border-color: green;
    border-width: 10px;

}
#dotted{
    border-style: dotted;
    border-color: green;
    border-width: 10px;

}
#double{
    border-style: double;
    border-color: green;
    border-width: 10px;

} */
/* #groove{
    border-style: groove;
    border-color: blue;
    border-width: 10px;

} */
/* #ridge{
    border-style: ridge;
    border-color: black;
    border-width: 10px;

} */
#inset{
    border-style: inset;
    border-color: green;
    border-width: 10px;

    
}
#outset{
    border-style: outset;
    border-color: green;
    border-width: 10px;
}


/* }#shorthand{
    border: dashed grey 10px;
}
#border{
    border-top: green dashed 10px;
    border-bottom: yellow double 10px;
    border-left: groove pink 10px;
    border-right: inset blue 10px;
} */