/* #main{
    width: 100%;
    height: 800px;
    background-color: yellow;
} */
/* #fb{
    width: 60%;
    height: 800px;
    
    border-radius: 50%;
    background-color: pink;
    position: absolute; */
    /* float: left; */
    /* animation-name: moveball;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in; */
    /* left: 20px; */


/* } */
/* #sb{
    width: 20%;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    top: 450px;
    left: 550px;
    float: left; */
    /* animation-name: moveball2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s; */
    /* animation-timing-function: ease-in; */
    

/* } */
/* @keyframes moveball{
    from{
        left: 0px;
    }
    to{
        left: 150px;
    }
}
@keyframes moveball2{
    0%{
        top: 450px;
        left: 550px;
    }
    25%{
        right: 150px;
    }
} */
/* #fb{
    background-color: red;
    width: 200px;
    height: 200px;
    animation-name: sizeincrease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 2s;

}
@keyframes sizeincrease{
    from{
        width: 200px;
    }
    to{
        width: 600px;
    }
}
#sb{
    background-color: blue;
    width: 200px;
    height: 200px;
    animation-name: sizeincrease1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 5s;


}
@keyframes sizeincrease1{
    from{
        width: 200px;
    }
    to{
        width: 600px;
    }
}
 */
#main{
    width: 1200px;
    height: 1200px;
    margin-left: 300px;
    /* margin-top: 70px; */
    /* background-color: gray; */
    /* transform: translate(0 -50%); */

}
h1{
    text-align: center;
    position: relative;
    top: 300px;
    color: red;
    
    /* padding: 200px; */
}
#fb{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 600px;
    background-color: green;
    float: left;
    /* animation-iteration-count: infinite;
    
    animation-name: fb1;
    animation-duration: 2s; */
    transition-duration: 2s;
    
    
}
#sb{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 900px; 
    /* animation-name: fb2;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
    /* margin-left: 300px; */
    transition-duration: 2s;
    
    
    background-color: blue;
    /* float: left; */
}

#tb{
    width: 300px;
    height: 300px;
    position: relative;
    left: 293px;
    top: 300px;
    background-color: yellow; 
    /* animation-name: fb3;
    animation-duration: 2s; 
    animation-iteration-count: infinite; */
    transition-duration: 2s;
    
    /* float: left; */
}

#fob{
    width: 300px;
    height: 300px;
    position: relative;
    left: 593px;
    /* top: 300px; */
    background-color: skyblue; 
    float: left;
    /* animation-name: fb4;
    animation-duration: 2s; 
    animation-iteration-count: infinite; */
    transition-duration: 2s;
    
 }
/* #fb:hover { */
    /* transform:translate(-320px); */
    /* transform:rotate(-360deg)translate(-320px);; */
    /* transform:translate(-320px); */
    /* transform: rotateZ('angle'); */
/* } */

/* #fb:hover { 
    transform:rotate(-90deg) translate(-50%);

} */
/* #main:hover #sb{
    transform:  rotate(90deg);

}

#main:hover #tb{
    transform:  rotate(90deg);

}

#main:hover #fob{
    transform: rotate(90deg);

} */
 


 /* @keyframes fb1{
    from{
        transform: rotate(0deg) translate(0px);
    }
    to{
        transform: rotate(90deg) translateY(300px);
    }
 } */
 #main:hover #fb{
    transform: rotate(90deg) translateY(300px);

} 
#main:hover #sb{
    transform: rotate(-90deg) translateY(300px);

} 
#main:hover #tb{
    transform: rotate(90deg) translateY(300px);

} 
#main:hover #fob{
    transform: rotate(-90deg) translateY(300px);

} 

 /* @keyframes fb2{
    from{
        transform: rotate(0deg) translate(0px);
    }
    to{
        transform: rotate(-90deg) translateY(300px);
    }
 }
 @keyframes fb3{
    from{
        transform: rotate(0deg) translate(0px);
    }
    to{
        transform: rotate(90deg) translateY(300px);
    }
 }
 @keyframes fb4{
    from{
        transform: rotate(0deg) translate(0px);
    }
    to{
        transform: rotate(-90deg) translateY(300px);
    }
 } */


