*{
    padding: 0px;
    margin: 0px;

}
body{
    background-image: url(../../asset/image/pngwing.com\ \(8\).png);
    background-size: 100% 100%;
}
table{
    margin-left: 120px;
    width: 90%;
    height: 100%;
    margin-top: 10px;
}
th{
    border: 2px dotted white;
    border-radius: 20px;
    /* position: relative;
    top: 120px; */
    /* border-bottom: 150px; */
}
    

tr{
    margin-top: 15px;
}
#abc{
    width: 800px;
    height: 15px;
    border-radius: 20px;
    /* border-top: 82px; */
}
h3{
    color: rgb(62, 222, 51);
    text-shadow: 15px 15px 20px white;
    font-size: 40px;
    font-family:cursive;
    /* word-spacing: 2px; */
    text-align: justify;
    /* margin-left: 50px; */
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* transition-duration: 5s; */
    float: left;
    /* transform:skew(80deg) ,rotate(145deg); */


}
#ert{
    position: relative;
    top: 20px;
    background-color: pink;
}
#sdf{
    
    margin-left: 18px;
}
marquee{
    width: 100%;
    height: 60px;
    /* scrollamout:40; */
    
    
}

@keyframes animation{
    0%{
        
        transform: skew(20deg,20deg);
        color: green;
    }
    25%{
        transform: skew(-20deg,-10deg);
        color: yellow;
    }
    50%{
        transform: skew(20deg,20deg);
        color:skyblue;
    }
    75%{
        transform: skew(-20deg,-20deg);
        transform: scale(1,1);
      color: beige;
    }


}

ul{
    list-style-type: none;
}
.ear{
    display: block;
    float: left;
    border: 2px solid red;
    background-color: black;
    padding: 13px;
    color: white;
    margin: 6px;
    border-radius: 15px;

}
.ear:hover{
    background-color: blue;
    box-shadow: 0px 3px 2px yellow;
}
#qwe{
    position: relative;
    top: 40px;
    width: 100%;
    height: 500px;
    /* background-color: pink; */

    /* background-image: radial-gradient(90deg,transparent,red,gold); */
    
    
}
#bnh{
    text-align:left;
    color: rgb(129, 11, 11);
    font-size: larger;
    position: relative;
    top: -230px;

    
}
hr{
    position: relative;
    top: -220px;
    left: 5px;
    width: 90%;
    /* color: white; */
    border: 1px solid white;
}
h4{
    position: relative;
    top: 8px;
    left: 5px;
    font-size: 25px;
}
 #QWE{
    width: 100%;
    height: 50px;
    /* background-color: yellow; */
    position: relative;
    top: 80px;
    color: white;
 }
 /* #aboutus:hover{
    /* background-image: url(../../asset/image/vishwaksen11620112567.jpg);
    background-size: 100%; */
    /* z-index: -1; */
    /* width: 200px;
    height: 200px;
    background-image: url(../../asset/image/vishwaksen11620112567.jpg);
     */

   
 /* } */ 
 a{
    text-decoration: none;
    color: white;
 }
 /* div{
    overflow: hidden;
    /* z-index: -1; */
 /* } */ 
 #were{
    position: absolute;
    left: 200px;
    top: 200px;
    background-color: yellow;
    z-index: 3;
    width: 300px;
    height: 300px;
    text-align: left;
    display: none;
    z-index: 1;
 
 /* img{
    float: right;
 } */
}
 /* #aboutus:hover>#wer{
    width: 100%;
    height: 100%;
 } 

  */
  #wer:hover #were{
    display:block;
    width: 200px;
    height: 300px;
  }
select{
    position: absolute;
    top: 55px;
    left: 104px;
    
    /* display: block; */
    /* border-radius: 5px;
    border: 1px solid black ; */

  }
  .sdf{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black ;

  }
  /* #dlf{ */
    /* overflow: hidden; */
    /* display: inline; */
  /* } */
  .la{
    /* padding-top: 12px; */
    display:block;
    z-index: 2;

  }
  