/* h1{
    border: 10px solid black; */
    /* float:right; */
    /* padding-left: 120px;
    padding-top: 100px; */
    /* float:left; */
    /* padding-bottom: 123px;
    padding-right: 145px; */
    /* padding:10px 30px 50px 100px; */
    /* float:right; */
    /* margin-left: 100px;
    margin-top: 45px; */
    /* /* float: right; */
    /* margin-right: 20px; */
    /* margin-bottom: 200px; */ 
    /* margin-top: -20px;
    margin-right: -200px; */
    /* margin: 20px 100px 150px 600px; */
    


/* } */
div{
    width: 200px;
    height: 200px;
    box-shadow: insetset -10px -20px 5px black;
}