input{
    margin-top: 10%;
    margin-left: 20%;
    border: 5px dashed blue;
    outline: 5px groove red;
    outline: 5px dotted yellow;
    /* border: none;
    outline: none; */
    outline-offset: 10px;
}