/* h1{
  color: teal;  
}
h1::first-letter{
    font-size: 100px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 26px;
    letter-spacing: 2px;
    word-spacing: 10px;
    color: darkblue;

}
p::first-line{
    font-size: 60px;
    color: lawngreen;
} */
 /* second pseudo class */
/* h1::before{
    content: "hell0";
    color: red;
    font-size: 60px;
    text-transform: uppercase;
} 
h1::after{
    content: "hell0";
    color: red;
    font-size: 60px;
    text-transform: uppercase;
} h1::after{
    content: "⭐";
    color: red;
    font-size: 60px;
    text-transform: uppercase;
} */
 /* third pseudo class */
 *{
    padding: 0px;
    margin: 0px;
 }
 body{
    background-color: black;
 }
 p{
    margin-top: 3%;
    width: 95%;
    height: 300px;
    background-color: gray;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: bold;
    text-align: justify;
    text-indent: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    border-radius: 10px;
    color: black;
    padding: 20px;
}
p::-webkit-scrollbar{
    width: 100px;
    background-image: linear-gradient(red,blue);
    border-radius: 10px;
}
p::-webkit-scrollbar-thumb{
    width: 60px;
    background-image: url(../../asset/image/vishwaksen11620112567.jpg);
    /* border-radius: 100%; */
    /* background-color: red; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
