/* #heading{
    font-size: 60px;
    text-shadow: 2px 2px 0px red, -2px -2px 0px blue ;
} */
 /* #heading1{
    margin-top: 15%;
    text-align: center;
    font-size: 100px;letter-spacing: 10px;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px blueviolet,
    2px 2px 2px blueviolet,
    4px 4px 4px blueviolet,
    6px 6px 6px blueviolet,
    8px 8px 8px blueviolet,
    10px 10px 10px blueviolet,
    12px 12px 12px blueviolet,
    14px 14px 14px blueviolet,
    16px 16px 16px blueviolet,
    18px 18px 18px blueviolet,
    20px 20px 20px blueviolet,
    22px 20px 20px blueviolet,
    24px 24px 24px blueviolet,
    26px 26px 26px blueviolet,
    28px 28px 28px blueviolet,
    30px 30px 30px blueviolet,
    32px 32px 32px blueviolet,
    34px 34px 34px blueviolet,
    36px 36px 36px blueviolet,
    38px 38px 38px blueviolet,
    40px 40px 40px blueviolet;
 } */
  img{
    /* width: 800px;
    filter: blur(0px);
    filter: brightness(50%);
    filter: contrast(80%); */
    /* filter: drop-shadow(50px 50px 5px blue);
    filter: grayscale(50%);
    filter: hue-rotate(450deg);
    filter: invert(75%);
    filter: opacity(150%); */
    /* filter: saturate(150%); */
    filter: sepia(100%);
    filter: drop-shadow(5px 5px 5px skyblue) drop-shadow(-5px -5px 5px red) saturate(150%) contrast(150%);
    box-shadow: 5px 5px 5px black;


  }