/* #priyanka{
    width:500px;
    height:500px;
    background-image: linear-gradient(90deg,red,pink);
} */
/* #priyanka1{
    width:500px;
    height:500px;
    background-image:linear-gradient(gold,transparent,pink),url(../../asset/image/elephants-5752536_640.jpg),linear-gradient(135deg,skyblue 0% 10%,yellow 10% 20%,darkblue 20% 60%,indigo 60% 75%,green 70% 80%,orange 80% 90%,red 90% 100%);
    background-size: 100% 100%,60%,100% 100%;
    background-repeat: no-repeat;
    background-position:center center;
} */
/* #priyanka2{
    width:300px;
    height:300px;
    background-image: radial-gradient(skyblue 0% 40%,lime 50% 70%,red 70% 100% );
} */
#priyanka3{
    width:500px;
    height:500px;
    background-image: url(../../asset/image/sea-6320980_640.jpg),radial-gradient(circle at center ,skyblue,red,skyblue,red,skyblue,red,skyblue,red,skyblue,red);
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%,100% 100%;
}
 /* #priyanka4{
    width:500px;
    height:500px;
    background-image: url(../../asset/image/elephants-5752536_640.jpg),conic-gradient(red,black,red,black,red,black,red,black,red,black,red,black,red,black,red,black,red,black);
    background-position: center,center;
    background-size:50%,100% 100% ;
    background-repeat:no-repeat;
 } */
  /* #priyanka5{
    width:500px;
    height:500px;
    background-image: conic-gradient(transparent,red 0% 25%,green 25% 50%,blue 50% 75%,yellow 75% 100%)radial-gradient(cirlce at top );
  }
  ] */