/* a:link{
    color:brown
}
a:visited{
    color: olive;
}
a:hover{
    color:aqua
}
a:active{
    color:lawngreen
} */
 /* #container{
    width: 500px;
    height: 500px;
    background-image: url(../../asset/image/vishwaksen11620112567.jpg);
    background-size: 100% 100%;
    border: 10px groove red;
    box-shadow: 5px 5px 5px black;
    margin-top: 10%;
    margin-left: 40%;


 }
 #container:hover{
    border-radius: 100%;
    border: 10px groove yellow;
    box-shadow: 50px 50px 0px royalblue,-50px-50px 0px lawngreen,50px -50px 0px red,-50px 50px 0px yellow ;
    background-image: url(../../asset/image/pexels-francesco-ungaro-998641.jpg);

 } */
  #container1{
    width: 200px;
    height: 200px;
    background-image: url(../../asset/image/vishwaksen11620112567.jpg);
    background-size: 100% 100%;
    margin-top: 10%;
    margin-left: 40%;
 


  }
  

  
  #container1:hover{
    

    
   
    background-image: url(../../asset/image/charminar.jpg);
    margin-right: 100%;
    div{
        font-style: bold;
        float: left;
        width: 100%;
        margin-left: 100%;
        font-size: 10px;
    }

 }